.submenu {
    background-color: #fff;
    padding: 10px;
}

.submenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.submenu ul li {
    display: inline-block;
    margin-right: 10px;
}

.submenu ul li a {
    color: #003da5;
    text-decoration: none;
}

.submenu ul li.active a {
    color: #000;
    font-weight: bold;
}
