/* Стили для субменю */
.submenu {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  /* Стили для пунктов субменю */
  .submenu li {
    list-style-type: none;
    margin: 0 10px;
  }
  
  /* Стили для пунктов субменю слева */
  .submenu .left-items {
    margin-right: auto;
  }
  
  /* Стили для пунктов субменю справа */
  .submenu .right-items {
    margin-left: auto;
  }
  
  /* Стили для активного пункта субменю */
  .submenu li.active {
    color: #000;
    font-weight: bold;
  }
  